#home_header {
	color: #6A5ACD;
	text-align: center;
	border: 5px solid #00BFFF;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	margin-right: 0 auto;
	margin-left: 0 auto;
}

#deck_display {
	color: #6A5ACD;
	border: 5px solid #00BFFF;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	list-style-position: inside;
}

#question_form {
	color: #6A5ACD;
	border: 5px solid #00BFFF;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.button {
	border: 2px solid #00BFFF;
	border-radius: 10px;
	margin-bottom: 4px;
	width: 100px;
}

.container {
	color: #6A5ACD;
	border: 5px solid #00BFFF;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	list-style-position: inside;
}