<form method="post" action="/rounds">
  <input type="hidden" name="_method" value="PUT">
  <label for="question">Question:</label><br>
  <p><%= @question %></p>
  <input id="question_answer" name="answer" type="text"><br><br>
  <input type="submit" value="Next" class="button">
  <input type="hidden" name="round" value="<%= @round.id %>">
</form>
