<div class="container">
<h1>Registration</h1>
   <form action="/users" method="post">
     Username:
     <input type="text" name="user[username]">
   <br>
     Password:
     <input type="password" name="user[password]">
   <br><br>
   <input type="submit" value="REGISTER">
 </form>
 <br>
 <br>
 <li>I need to <a href='/sessions/new'> login</a>.</li>
 <% if logged_in? %>
 <li>I'm already logged in! I want my <a href='/users/<%=current_user.id%>'>page</a>.</li>
 </ul>
 <% end %>
 </div>
