
<form method="post" action="/decks">
  <strong>Deck Subject:</strong>
  <input type="text" name= "deck[subject]">
  <strong>First Card:</strong>
  <label>Question:</label>
  <textarea name="card[question]"></textarea>
  <label>Correct Answer:</label>
  <textarea name="card[answer]"></textarea>
  <input type="submit" value="Create">
</form>
