<br><br>
<form id="deck_display" method="post" action="/decks">
  <strong>Deck Subject:</strong><br>
  <input type="text" name= "deck[subject]"><br><br>
  <strong>First Card:</strong><br>
  <label>Question:</label><br>
  <textarea name="card[question]"></textarea><br><br>
  <label>Correct Answer:</label><br>
  <textarea name="card[answer]"></textarea><br><br>
  <input class="button" type="submit" value="Create">
</form>
