<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%if logged_in?%>
    <a href="/decks/new">Create a Deck</a><br>
    <a href="/users/<%=session[:user_id]%>">Home Page</a><br>
    <form method="post" action="/sessions">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log Out">
</form>
  <% end %>
  <%= yield %>
</body>
</html>
